cluster == 1.4.1.post2     
imageio ==  2.5.0      
imagesize == 1.1.0      
importlib-metadata == 0.17     
kmeans-pytorch == 0.3            
notebook == 6.0.3       
numpy == 1.18.5    
numpydoc == 1.1.0  
opencv-python == 4.4.0.44   
openpyxl == 3.0.4      
packaging == 20.4
scikit-image == 0.15.0     
scikit-learn == 0.21.2      
watermark == 2.0.2 
graphviz == 0.15
Flask == 1.1.2
gensim == 3.8.3
ipython == 7.16.1
jupyter == 1.0.0
matplotlib == 3.2.2
mkl-random == 1.1.1
nltk == 3.5
py == 1.9.0
python-twitter == 3.5
scikit-learn == 0.23.2
scipy == 1.5.0
seaborn == 0.10.1
sklearn == 0.0
spacy == 2.3.5
tensorflow == 2.3.1
textblob == 0.15.3
tweepy == 3.9.0
en-core-web-sm == 2.3.1
Markdown == 3.3.3
pandas == 1.0.5
tensorboard == 2.4.0
wordcloud == 1.8.1
pip == 20.1.1
packaging == 20.4
networkx == 2.4
ipython == 7.16.1
ipython-genutils == 0.2.0
google-auth == 1.23.0